.food {
	display: flex;
	justify-content: center;
	border: solid 2px black;
	margin: 0px 10px;
	min-height: 500px;

	.foodContainer {
		width: 800px;
		height: 80%;
		display: flex;
		justify-content: center;
	}

	.recipeRandom {
		display: block;
	}
}
