.food {
	display: flex;
	justify-content: center;
	margin: 0px 10px;
	font-family: "Roboto", sans-serif;
	font-weight: 100;
	font-style: normal;

	.foodContainer {
		width: 800px;
		min-height: 500px;
		margin-bottom: 40px;
		border: solid 2px black;
		display: flex;
		justify-content: center;
	}

	.recipeRandom {
		display: block;
	}
}
