.navbar {
    border-bottom: solid 1px black;
}

.container {
	display: flex;
	align-items: center;
    justify-content: space-around;
    padding: 12px 8px;
}

.title {
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
}

.profileIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
}

@media (min-width: 320px) {
    .navbar {
        h1 {
            font-size: 12px;
        }
        .profileIcon {
            display: none;
        }
    }
}

@media (min-width: 375px) and (max-width: 425px) {
    .navbar {
        h1 {
            font-size: 15px;
        }
  
        .container {
            justify-content: space-around;
        }
    }
}

@media (min-width: 768px) {
    .navbar {
        .profileIcon {
            display: block;
        }

        h1 {
            font-size: 25px;
        }
    }
}