.navbar {
    border-bottom: solid 1px black;
}

.container {
	display: flex;
	align-items: center;
    justify-content: space-around;
    padding: 8px 0px;
}

.title {
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
}

.profileIcon {
    display: flex;
    align-items: center;
    cursor: pointer;
}